@import "../../theme.scss";

.Landing {
  position: relative;
  height: 100vh;

  &-Figure {
    width: 100%;
    height: 100%;
  }

  &-Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-OverlayPrimary {
    position: absolute;
    left: 0;
    width: 27%;
    height: 100%;
    background-color: $colorPrimary;
  }

  &-OverlaySecondary {
    position: absolute;
    right: 0;
    width: 73%;
    height: 100%;
    background-color: $colorBlack;
  }

  &-Content {
    position: absolute;
    top: 0;
    left: calc((100% - 1260px) / 2);
    width: 1260px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  &-ContentInner {
    margin: 0 auto;
    @media (min-width: $tabletSmall) {
      width: 450px;
    }

    @media (min-width: $tablet) {
      width: 550px;
    }

    @media (min-width: $desktop) {
      width: 960px;
    }

    @media (min-width: $dekstopLarge) {
      width: 1280px;
    }
  }

  &-Title {
    font-size: 48px;
    width: 300px;
    color: $colorBgPrimary;
    margin-bottom: 24px;

    @media (min-width: $tabletSmall) {
      width: 450px;
      font-size: 56px;
    }
  }

  &-Subtitle {
    font-size: 14px;
    line-height: 180%;
    color: $colorBgPrimary;
    width: 300px;
    margin-bottom: 48px;

    @media (min-width: $tabletSmall) {
      font-size: 16;
    }
  }
}
