.Grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 48px;

  @media (min-width: 481px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
