@import "../../theme.scss";

.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 24px;

  &-Secondary {
    background-color: $colorTextPrimary;
    position: initial;
  }

  &-Hamburger {
    width: 30px;
    height: auto;

    @media screen and (#{$desktop}) {
      display: none;
    }

    path {
      fill: $colorBgPrimary;
    }
  }

  &-Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (#{$desktop}) {
      width: 960px;
      margin: 0 auto;
      padding: 32px 0;
    }

    @media screen and (#{$desktopLarge}) {
      width: 1260px;
    }
  }

  &-Nav {
    display: none;

    @media screen and (#{$desktop}) {
      display: block;
    }
  }

  &-Logo {
    width: 140px;
  }

  &-NavLink {
    color: $colorBgPrimary;
    letter-spacing: 1px;
    margin-right: 48px;
  }

  &-NavButton {
    margin-right: 24px;
    display: inline-block;

    &:last-child {
      margin-right: 0px;
    }
  }
}
